!!!
%html
  %head
    %link{rel: 'stylesheet', type: 'text/css', href: '/css/style.css', media: 'screen, projection'}
    %link{rel: 'stylesheet', type: 'text/css', href: '/css/blueprint/screen.css', media: 'screen, projection'}
    %link{rel: 'stylesheet', type: 'text/css', href: '/css/blueprint/print.css', media: 'print'}
    ="<!-- [if lt IE 8]><link rel='stylesheet' type='text/css' href='/css/blueprint/ie.css' media='screen, projection' /><![endif]-->"
    %link{rel: 'stylesheet', type: 'text/css', href: '/css/style.css', media: 'screen, projection'}
    %link{rel: 'stylesheet', type: 'text/css', href: '/css/redmond/jquery-ui-1.8.6.custom.css', media: 'screen, projection'}
    ="<!-- [if !IE 7]><style type='text/css'>#wrap {display:table; height:100%}</style><![endif]-->"
    
    %link{rel: 'stylesheet', type: 'text/css', href: '/css/sticky.css', media: 'screen, projection'}
    
    %title m8.is
    %script{type: 'text/javascript', src: '/javascript/jquery/jquery-1.4.3.min.js'}
    %script{type: 'text/javascript', src: '/javascript/jquery/jquery-ui-1.8.6.custom.min.js'}
    %script{type: 'text/javascript', src: '/javascript/jquery/jquery.validate.min.js'}
    %script{type: 'text/javascript', src: '/javascript/m8.is.js'}
    %script{type: 'text/javascript', src: '/javascript/jqueryhelptext.js'}
    
    :javascript
      $(function() {
        $('button, input:submit').button();
        $('form').validate();
      });
      $.validator.setDefaults({
        //submitHandler: function() { alert("submitted!"); }
      });
  
  %body
    #wrap
      #main
        .container
          .span-24.last
            %h1 m8.is
            :if typeof flash != 'undefined'
              :if flash.error
                .flashError
                  .span-24.last
                    %span.error= flash.error
              :if flash.info
                .flashInfo
                  .span-24.last
                    %span.info= flash.info
            = body
    #footer
      %p
        Copyright &copy; 2011 Mogens Heller Grabe