.span-4
  &nbsp;

.span-16
  %form#urlForm{method:"post", action:"/shortify"}
    %div
      %input.url{type:"text", name: "url", style:"width: 100%"}
    %div
      %input{type:"submit", name:"submit", value:"Shortify!", style:"width: 30%"}
    
.span-4.last

:javascript
  $(function() {
    $("#urlForm").helptexts({"url": "Please type URL to make shorter here"});
  });

  
    