body {
	font-family: Verdana, Sans-Serif;
	background-image: url('/images/bg2.jpg');
	background-alignment: top;
	background-repeat: repeat-x;
}

h1 {
	font-weight: bold;
	letter-spacing: -.1em;
	font-size: 6em;
	margin: 0 0 .2em 0;
	padding: 0 0 0 0;
}

input {
	padding: .6em;
}

#urlForm input {
	font-size: 1.5em;
	margin: 0 0 0 0;
	padding: .3em .3em .3em .3em;
}

#urlForm .text {
	width: 100%;
}

#urlForm .button {
	width: 100%;
}

#footer {
	text-align: center;
}

.fieldHelp {
	color: #aaa;
}

.flashInfo, .flashError {
	padding: 0 0 3.2em 0;
}

.shortifiedUrl, .takeItEasy {
	margin: 1.6em 0 0 0;
	padding: .8em .3em .3em .3em;
	border-top: 1px solid #ddd;
}

.takeItEasy img {
	padding: 0 1em 0 0;
	margin: 0 0 0 0;
}

.shortifiedUrl .link {
	font-family: monospace;
	font-size: 1.6em;
	margin: 0 1em 0 0;
}

.shortifiedUrl .url {
	margin: 0 0 0 1em;
}

.shortifiedUrl img {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#footer {
	background-image: url('/images/shadow.png');
	background-alignment: top;
	background-repeat: repeat-x;
}

#footer p {
	margin: 0 0 0 0;
	padding: .5em 0 0 0;
}