body {
	font-family: Verdana, Sans-Serif;
}

h1 {
	font-weight: bold;
	letter-spacing: -.1em;
}

input {
	padding: .6em;
}

#urlForm input {
	font-size: 1.5em;
	margin: 0 0 0 0;
	padding: .3em .3em .3em .3em;
}

#urlForm .text {
	width: 100%;
}

#urlForm .button {
	width: 100%;
}

#footer {
	text-align: center;
}

.fieldHelp {
	color: #aaa;
}

.flashInfo, .flashError {
	padding: 0 0 3.2em 0;
}